.background {
    background-color: rgb(240, 240, 240);
    margin-left: 3%;
    margin-right: 3%;
    height: 103% !important;

    .headerCalendar {
        display: flex;
        width: 100%;
        align-items: baseline;
        place-content: space-around;
        font-size: 100%;
        padding-top: 3%;
    }
    
     .calendar {
        display: block;
        place-content: center;
        border: none !important;
        margin-left: 3%;
        margin-right: 3%;
    
        ::ng-deep .cal-month-view {
            font-size: 10px;

            .cal-day-cell.cal-today  {
                /* TODO : trouver un meilleur design pour le jour 'TODAY'*/
                background-color: rgba(254, 109, 12, 0.562) !important;
                color: white !important;
                border-radius: 50%;

                .cal-day-number {
                    font-size: 12px !important;
                }
            }

            span.cal-day-number {
                margin: 0px;
                margin-right: 19px;
                margin-top: 12px; 
            }

            .cal-days {
                border: none !important;  
    
                .cal-cell-row {
                    border: none !important;
                
            
                    mwl-calendar-month-cell {
                        border: none !important;
                        min-height: 0px !important;
                        height: 40px !important;
                    }
                }
            }   
        }        
    }
}

.createEvent {
    color: #fe6d0c;
    display: flex;
    place-content: flex-end;
    margin-right: 3%;
   

    p {
        text-decoration: underline;
        font-size: 14px;
    }
    
    i {
        margin: 5px;  
    }
}