 <div class="background">
  <div class="headerCalendar">
      <!-- Bouton pour aller sur le mois précédent -->
      <div
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
      >
      <ion-icon name="arrow-back"></ion-icon>
    </div>
    <!-- Affichage du mois en cours ainsi que l'année -->
      <p>{{ viewDate | calendarDate:(view + 'ViewTitle'):'Fr' }}</p>
    
        <!-- Bouton pour aller sur le mois suivant -->
        <div
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          >
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
    </div>
  <div class="calendar" [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      (dayClicked)="dayClicked($event.day)"
      [events]="events"
    >
    </mwl-calendar-month-view>
  </div>
  
</div>

<div class="createEvent" (click)="createEvent()">
  <p [routerLink]="['/woozer/event/form', {groupId: groupId}]">Créer un événement </p>
  <ion-icon name="add-circle-outline"></ion-icon>
</div>
