form {
  padding: 0% 4%;
  font-family: 'Lato', sans-serif!important;
}

.blue_circle {
  background: #13A3C8;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: 5%;
}

em {
  font-size: 400%;
  margin-top: 15%;
  margin-left: 13%;
  color: white;
}

form > div:first-child, #members-container {
  display: flex;
}

form ion-label {
  font-size: 20px;
  color: #7d7d7d;
}

ion-item.item-has-focus {
  border: none;
}

#upload-photo-text {
  font-size: 13px;
  width: 120px;
}

#name-container {
  margin-top: 5%;
}

#end-page-container {
  margin-top: 70%;
}

ion-auto-complete ::ng-deep ul li {
  padding: 7px 15px!important;
}

#members-container > div {
  width: 70px;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 2%;
  text-align: center;
}

#members-container img {
  text-align: center;
}

.search-member-name {
  font-size: 18px;
  margin-right: 50%;
}

.autocomplete {
  width: 100%;

  ion-searchbar {
    padding: 1px !important;
  }

  ion-list {
    position: absolute;
    width: inherit;
    overflow-y: scroll;
    max-height: 150%;
    z-index: 999;

    ion-item {
      width: 90%;
    }

    ion-item:hover {
      cursor: pointer;
      background: #f1f1f1
    }

    .img-container {
      margin-right: 4%;
    }

    .name-icon-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}