<form>

  <div>
    <div>
      <div class="blue_circle">
        <em class="fas fa-image"></em>
      </div>
      <p>Uploader une photo</p>
    </div>

    <ion-item >
      <ion-label position="stacked">Nom du groupe</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </div>

  <h4>Ajouter des membres</h4>

  <ion-item>
    <ion-icon name="search-outline" slot="start"></ion-icon>
    <ion-label position="floating">Floating Label</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <p>Recherche de membres par autocomplétion</p>
  
  <h4>Membres du groupe</h4>

  <p>Listing des membres avec icones admin</p>

  <app-button text="Valider"></app-button>

</form>

