* {
  font-family: 'Lato', sans-serif!important;
}
.blue_circle {
  background: #13A3C8;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -40%;
  margin-left: 5%;
}

em {
  font-size: 450%;
  margin-top: 15%;
  margin-left: 13%;
  color: white;
}