<form [formGroup]="groupForm">

  <div>
    <div>
      <div class="blue_circle">
        <em class="fas fa-image"></em>
      </div>
      <p>Uploader une photo</p>
    </div>

    <ion-item >
      <ion-label position="stacked">Nom du groupe</ion-label>
      <ion-input type="text" formControlName="name" [(ngModel)]="group.name"></ion-input>
    </ion-item>
  </div>

  <h4>Ajouter des membres</h4>

  <div class="ion-form-group">
    <ng-template #withImageAndIcon let-attrs="attrs">
      <span [innerHTML]="attrs.data.username"></span>
      <ion-icon *ngIf="isInGroup(attrs.data)" (click)="removeUser(attrs.data)" name="remove-circle-outline"></ion-icon>
      <ion-icon *ngIf="!isInGroup(attrs.data)" (click)="addUser(attrs.data)" name="add-circle-outline"></ion-icon>
    </ng-template>
    <ion-auto-complete [dataProvider]="userAutocompleteService" [template]="withImageAndIcon"></ion-auto-complete>
  </div>

  <h4>Membres du groupe</h4>

  <p>Listing des membres avec icones admin</p>

  <app-button text="Valider"></app-button>

</form>

