nav#topbar {
    background-color: #FE6C0C;
    display: flex;
    justify-content: space-between;
}

nav#topbar i {
    vertical-align: middle;
}

i {
    font-size: 230%;
    color: white;
    margin: 1.5%;
}

span {
    margin-left: 4%;
    align-self: center;
    color: white;
    font-size: 20px;
}