<!-- Ajouter le nom de l'event dans la barre d'entête -->
<app-button *ngIf="event" text="Gérer l'événement" [routerLink]="['/woozer/event/form', {eventId: event.id, groupId: groupId}]"></app-button>

<ion-content [scrollEvents]="true" #content>
    <div class="details" *ngIf="event">
        <label> Description </label>
        <div class="description">
            {{event.description}}
        </div>

        <div>
            <label>Date : </label>
            <span *ngIf="event.date"> {{event.date | date : 'dd/MM/yyyy'}}</span>
            <span *ngIf="!event.date && !surveyDate"> en attente </span>
            <div *ngIf="surveyDate">
                <div *ngFor="let option of surveyDate.options">
                    <ion-checkbox class="checkbox" (ionChange)="voter($event,option.id,surveyDate.id)" [checked]="isChecked(option)"></ion-checkbox>
                    <ion-label class="label">{{option.name}}</ion-label>
                    <ion-label class="label"> - {{option.nbVotes}} vote(s)</ion-label></div>
            </div>
        </div>

        <div>
            <label> Lieu : </label>
            <span *ngIf="event.place"> {{event.place}}</span>
            <span *ngIf="!event.place && !surveyLieu"> en attente </span>
            <div *ngIf="surveyLieu">
                <div *ngFor="let option of surveyLieu.options">
                    <ion-checkbox class="checkbox" (ionChange)="voter($event,option.id,surveyLieu.id)" [checked]="isChecked(option)"></ion-checkbox>
                    <ion-label class="label">{{option.name}}</ion-label>
                    <ion-label class="label"> - {{option.nbVotes}} vote(s)</ion-label>
                </div>
            </div>
        </div>

        <div>
            <label> Heure :</label>
            <span *ngIf="event.hour"> {{event.hour}}</span>
            <span *ngIf="!event.hour"> en attente </span>
        </div>

        <div *ngIf="otherSurvey && otherSurvey.length>0">
            <div *ngFor="let sondage of otherSurvey">
                <label>{{sondage.title}} :</label>
                <div *ngFor="let option of sondage.options">
                    <ion-checkbox class="checkbox" (ionChange)="voter($event,option.id,sondage.id)" [checked]="isChecked(option)"></ion-checkbox>
                    <ion-label class="label">{{option.name}}</ion-label>
                    <ion-label class="label"> - {{option.nbVotes}} vote(s)</ion-label>

                </div>
            </div>
        </div>
    </div>

</ion-content>
   
<div class="details" id="end-page-container">
    <label>Participants</label>

    <div id="members-container">
      <div *ngFor="let user of event.participant">
        <img src="https://capenetworks.com/static/images/testimonials/user-icon.svg" style="height: 50px;"/>
        <p class="participant-name">{{user?.username}}</p>
      </div>
      <div *ngIf="event.participant.length === 0">
          <span> Il n'y a pour le moment aucun participant à l'événement.</span>
      </div>
    </div>
  </div>

<div class="participation">
    <span>Je participe ?</span>
    <ion-icon name="thumbs-up" id="participe" (click)="jeParticipe()"></ion-icon>
    <ion-icon name="thumbs-down" id="participePas" (click)="jeNeParticipePas()"></ion-icon>
</div>
