.details {
    margin:3%;

    .description {
        background-color: rgb(240, 240, 240);
        padding: 3%;
    }

    label {
        font-size: 120%;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.checkbox {
    
    margin: 2%;
    margin-left: 10%;
    --background-checked: #fe6d0c;
    --border-color-checked: #fe6d0c;
}


.label {
    margin-bottom : 3px;
    vertical-align: super;
}
