<div class="logo-container">
  <img src="../../assets/logo.svg" alt="logo Woozer" id="logo-login">
</div>

<h1>Connexion</h1>

<form (ngSubmit)="login()" [formGroup]="loginForm" id="login-form">
  <ion-list inset>

    <ion-item >
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Mot de passe</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <p>Mot de passe oublié</p>

    <div class="ion-padding-horizontal">
      <app-button text="Me connecter" type="submit"></app-button>
    </div>

    <div id="create-account">
      <p>Pas encore inscrit ?</p>
      <app-button text="Créer mon compte" routerLink="/account/create"></app-button>
    </div>

    </ion-list>

</form>
