<div class="logo-container">
  <img src="../../assets/logo.svg" alt="logo Woozer" id="logo-login">
</div>

<h1>Connexion</h1>

<form (ngSubmit)="login()" [formGroup]="loginForm" id="loginForm">
  <ion-list inset>

    <ion-item >
      <ion-label>Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Mot de passe</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <p>Mot de passe oublié</p>

    <div padding-horizontal>
      <app-button text="Me connecter" type="submit"></app-button>
    </div>

    <div>
      <p>Pas encore inscrit ?</p>
      <app-button text="Créer mon compte"></app-button>
    </div>

    </ion-list>

</form>
