<!-- TODO Ajouter le nom du groupe dans le header -->
<div>
    <app-button text="Créer un événement" routerLink="TODO"></app-button>
    <app-button text="Gérer le groupe" [routerLink]="['/woozer/groupe/modification', groupId]"></app-button>
  </div>

<!-- TODO Scrolling quand page pleine d'événements-->

<!-- TODO Titre (composant) -->

<div class="list-event" *ngIf="listEvent">
    <div class="event" *ngFor="let event of listEvent" (click)="openDetailsEvent(event.id)">

        <span class= "name">{{event.name}}</span>

        <div class="date">
            <div *ngIf="!event.date">
                <label class="dateLabel"> Date :</label>
                <span class="attente">en attente</span>
            </div>
            <div *ngIf="event.date">
                <label class="dateLabel"> Date :</label>
                <span> {{event.date}} </span>
                <span *ngIf="event.hour"> - {{event.hour}}</span>
            </div>
        </div>

        <div class="place">
            <label class="placeLabel">Lieu : </label>
            <span class="attente" *ngIf="!event.place">en attente</span>
            <span>{{event.place}}</span>
        </div>

    </div>
</div>
