<!-- TODO Ajouter le nom du groupe dans le header -->
<!-- TODO Bouton de création d'événements -->
<!-- TODO Bouton de modification de groupe -->

<!-- TODO Scrolling quand page pleine d'événements-->

<!-- TODO Titre (composant) -->

<div class="list-event" *ngIf="listEvent">
    <div class="event" *ngFor="let event of listEvent">

        <!-- Affichage du nom de l'event -->
        <span class= "name">{{event.name}}</span>

        <!-- Affichage de la date -->
        <div class="date">
            <div *ngIf="!event.date">
                <label class="dateLabel"> Date :</label>
                <span class="attente">en attente</span>
            </div>
            <div *ngIf="event.date">
                <label class="dateLabel"> Date :</label>
                <span> {{event.date}} </span>
                <span *ngIf="event.hour"> - {{event.hour}}</span>
            </div>
        </div>

        <!-- Affichage du lieu -->
        <div class="place">
            <label class="placeLabel">Lieu : </label>
            <span class="attente" *ngIf="!event.place">en attente</span>
            <span>{{event.place}}</span>
        </div>

    </div>
</div>
