  .close {
    float: right;
    background: none;

    ion-icon {
      color:grey;
      font-size: 22px;
    }

  }

  .title {
    font-weight: bold;
    margin-left: 8%;
  }

  .button {
    font-size: 12px;
    margin: 3%;
  }

  #popup-topbar {
    display: flex;
    justify-content: space-between;
  }

  ion-item {
    margin-bottom: 4%;
  }

  .error-msg {
    color: red;
  }

  #user-dropdown-list {
    width: 100%;
  }
