.sondage {
    padding: 3%;

    .title {
        font-weight: bold;
        color:grey;
        margin-right: 20px !important;
        margin-bottom: 40px !important;
    }

    ion-input {
        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .option {
        width:100%;
        display: inline-flex;
        padding-top: 3%;
    
        
        ion-icon {
            font-size: 30px;
            color:grey;
        }
    
    }
}

.changeOptions {
    color: #fe6d0c;
    display: flex;
    place-content: flex-end;
    margin-bottom: -15px;


    p {
        text-decoration: underline;
        font-size: 14px;
    }
    
    ion-icon {
        margin: 5px;  
        display: flex;
        align-self: center;
    }
}

::ng-deep app-button.disabled {
        button {
            background-color: #f0f0f0 !important;
            margin-top: 30px !important;
        }
}

::ng-deep app-button {
    button {
        margin-top: 30px !important;
    }
}

.titleSection {
    display: inline-flex;
}


ion-content {
    height: 75vh;
}