/** Ionic CSS Variables **/
:root {

  $colors: (
          primaryBlue: #13A3C8,
          primaryOrange: #FE6C0C,
          secondary: #882e2e,
          danger: #f84e4e,
          lightGrey: #f4f5f6,
          dark: #222,
  );

}
