/** Ionic CSS Variables **/
:root {

  --ion-color-blue: #13A3C8;
  --ion-color-orange: #FE6C0C;
  --ion-color-lightgrey: #f4f5f6;
  --ion-color-danger: #f84e4e;
  --ion-color-white: #ffffff;
  --ion-color-dark: #222222;

}
