.close {
    float: right;
    background: none;
    ion-icon {
        color:grey;
        font-size: 22px;
    }
}


.title {
    font-weight: bold;
    text-align: -webkit-center;
    margin-bottom: 10%;
    margin-top: 15%;
}

.button {
    font-size: 12px;
    margin: 3%;
}