<ion-item *ngFor="let discussion of discussions" lines="none">
  <div class="item-content" (click)="navigateToDiscussion(discussion.id)">
      <ion-label>
          <img src="https://photos.lci.fr/images/1024/576/friends-4f642a-2@1x.jpeg" style="width: 130px">
      </ion-label>
      <div>
          <ion-label>{{discussion.group.name}}</ion-label>
          <ion-label *ngIf="discussion.message !== null">{{discussion.message.user.username}} : {{discussion.message.message}}</ion-label>
          <ion-label *ngIf="discussion.message === null">Aucun message n'a été envoyé depuis ce groupe.</ion-label>
      </div>
  </div>
</ion-item>