* {
  font-family: 'Lato', sans-serif!important;
}

.event {
    background-color: #f0f0f0;
    margin: 3%;
    padding: 5%;
    font-weight: bold;
}

ion-content {
  height: 23vh;
  margin-bottom: 4%;
}

h2, #no-fixed-event {
  margin-left: 4%;
}