.separation_ligne {

    border-top: solid 2px #FE6C0C;
    
    .footer {
        display: flex;
        margin-bottom: 2%;
        position: sticky;
        margin-left:7%;
        margin-right: 7%;
        margin-top:2%;

    img {
        width: 34%;
        max-width: 100%;
    }

    div{
        border-radius:50%;
        width: 21%;
        max-width: 100%;

        ion-icon {
            color:white;
            font-size: 180%;  
            margin: 20%;
        }
        
        .fa-euro {
                margin-left: 33%;
            }
    }

    }

    .blue_circle {
    background:#13A3C8;
    margin-right: 6%;
    }

    .orange_circle {
        background: #FE6C0C;
    }

        #camera {
            margin-right: 6%;
            margin-left: 6%;
        }
    }

    //TODO ça fonctionne pas
    #debt div .icon-inner ::ng-deep {
        margin-top: 10%;
    }
    
    div.disabled {
        pointer-events: none;
        cursor: default;
        background: #f0f0f0 !important;
    }
